C#/INFOSiS 2.0/INFOSiS_2.0/Connected Services/DAServer/Server.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://server.INFOSiS.pucp.edu.pe/" targetNamespace="http://server.INFOSiS.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Course" type="tns:course" />
  <xs:element name="CourseType" type="tns:courseType" />
  <xs:element name="InsertProfessor" type="tns:InsertProfessor" />
  <xs:element name="InsertProfessorResponse" type="tns:InsertProfessorResponse" />
  <xs:element name="Person" type="tns:person" />
  <xs:element name="Professor" type="tns:professor" />
  <xs:element name="QueryAllUsers" type="tns:QueryAllUsers" />
  <xs:element name="QueryAllUsersResponse" type="tns:QueryAllUsersResponse" />
  <xs:element name="User" type="tns:user" />
  <xs:element name="UserType" type="tns:userType" />
  <xs:element name="VerifyUser" type="tns:VerifyUser" />
  <xs:element name="VerifyUserResponse" type="tns:VerifyUserResponse" />
  <xs:complexType name="QueryAllUsers">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="QueryAllUsersResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:user" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="user">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="username" type="xs:string" />
      <xs:element minOccurs="0" name="password" type="xs:string" />
      <xs:element minOccurs="0" name="acces" type="tns:userType" />
      <xs:element name="isActive" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="userType">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="name" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="VerifyUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="user" type="tns:user" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="VerifyUserResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:userType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InsertProfessor">
    <xs:sequence>
      <xs:element minOccurs="0" name="professor" type="tns:professor" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="professor">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:person">
        <xs:sequence>
          <xs:element minOccurs="0" name="idPUCP" type="xs:string" />
          <xs:element minOccurs="0" name="emailPUCP" type="xs:string" />
          <xs:element minOccurs="0" name="birthDate" type="xs:dateTime" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="coursesCanTeach" nillable="true" type="tns:course" />
          <xs:element name="isActive" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="person">
    <xs:sequence>
      <xs:element minOccurs="0" name="idNumber" type="xs:string" />
      <xs:element name="idType" type="xs:int" />
      <xs:element minOccurs="0" name="firstName" type="xs:string" />
      <xs:element minOccurs="0" name="middleName" type="xs:string" />
      <xs:element minOccurs="0" name="primaryLastName" type="xs:string" />
      <xs:element minOccurs="0" name="secondLastName" type="xs:string" />
      <xs:element minOccurs="0" name="gender" type="xs:string" />
      <xs:element minOccurs="0" name="email" type="xs:string" />
      <xs:element minOccurs="0" name="cellPhoneNumber" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="course">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:string" />
      <xs:element minOccurs="0" name="name" type="xs:string" />
      <xs:element name="isActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="courseType" type="tns:courseType" />
      <xs:element minOccurs="0" name="description" type="xs:string" />
      <xs:element minOccurs="0" name="syllabus" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="courseHistory" nillable="true" type="tns:course" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="courseType">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="name" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="coursesList" nillable="true" type="tns:course" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InsertProfessorResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>