C#/INFOSiS 2.0/INFOSiS_2.0/Connected Services/DAServer/Server.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://server.INFOSiS.pucp.edu.pe/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="Server" targetNamespace="http://server.INFOSiS.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/INFOSiSServer/Server?xsd=1" namespace="http://server.INFOSiS.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="QueryAllUsers">
    <part name="parameters" element="tns:QueryAllUsers" />
  </message>
  <message name="QueryAllUsersResponse">
    <part name="parameters" element="tns:QueryAllUsersResponse" />
  </message>
  <message name="InsertProfessor">
    <part name="parameters" element="tns:InsertProfessor" />
  </message>
  <message name="InsertProfessorResponse">
    <part name="parameters" element="tns:InsertProfessorResponse" />
  </message>
  <message name="VerifyUser">
    <part name="parameters" element="tns:VerifyUser" />
  </message>
  <message name="VerifyUserResponse">
    <part name="parameters" element="tns:VerifyUserResponse" />
  </message>
  <portType name="Server">
    <operation name="QueryAllUsers">
      <input wsam:Action="http://server.INFOSiS.pucp.edu.pe/Server/QueryAllUsersRequest" message="tns:QueryAllUsers" />
      <output wsam:Action="http://server.INFOSiS.pucp.edu.pe/Server/QueryAllUsersResponse" message="tns:QueryAllUsersResponse" />
    </operation>
    <operation name="InsertProfessor">
      <input wsam:Action="http://server.INFOSiS.pucp.edu.pe/Server/InsertProfessorRequest" message="tns:InsertProfessor" />
      <output wsam:Action="http://server.INFOSiS.pucp.edu.pe/Server/InsertProfessorResponse" message="tns:InsertProfessorResponse" />
    </operation>
    <operation name="VerifyUser">
      <input wsam:Action="http://server.INFOSiS.pucp.edu.pe/Server/VerifyUserRequest" message="tns:VerifyUser" />
      <output wsam:Action="http://server.INFOSiS.pucp.edu.pe/Server/VerifyUserResponse" message="tns:VerifyUserResponse" />
    </operation>
  </portType>
  <binding name="ServerPortBinding" type="tns:Server">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="QueryAllUsers">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="InsertProfessor">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="VerifyUser">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="Server">
    <port name="ServerPort" binding="tns:ServerPortBinding">
      <soap:address location="http://localhost:8080/INFOSiSServer/Server" />
    </port>
  </service>
</definitions>