C#/INFOSiS 2.0/INFOSiS_2.0/Connected Services/Server/Server.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://server.INFOSiS.pucp.edu.pe/" targetNamespace="http://server.INFOSiS.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Course" type="tns:course" />
  <xs:element name="CourseHistory" type="tns:courseHistory" />
  <xs:element name="CourseType" type="tns:courseType" />
  <xs:element name="DisableCourse" type="tns:DisableCourse" />
  <xs:element name="DisableCourseResponse" type="tns:DisableCourseResponse" />
  <xs:element name="InsertCourse" type="tns:InsertCourse" />
  <xs:element name="InsertCourseResponse" type="tns:InsertCourseResponse" />
  <xs:element name="InsertCourseType" type="tns:InsertCourseType" />
  <xs:element name="InsertCourseTypeResponse" type="tns:InsertCourseTypeResponse" />
  <xs:element name="InsertInterested" type="tns:InsertInterested" />
  <xs:element name="InsertInterestedResponse" type="tns:InsertInterestedResponse" />
  <xs:element name="InsertIntern" type="tns:InsertIntern" />
  <xs:element name="InsertInternResponse" type="tns:InsertInternResponse" />
  <xs:element name="InsertProfessor" type="tns:InsertProfessor" />
  <xs:element name="InsertProfessorResponse" type="tns:InsertProfessorResponse" />
  <xs:element name="InsertStudent" type="tns:InsertStudent" />
  <xs:element name="InsertStudentResponse" type="tns:InsertStudentResponse" />
  <xs:element name="Interested" type="tns:interested" />
  <xs:element name="Intern" type="tns:intern" />
  <xs:element name="InternAssistance" type="tns:internAssistance" />
  <xs:element name="Person" type="tns:person" />
  <xs:element name="Professor" type="tns:professor" />
  <xs:element name="QueryAllActiveInterested" type="tns:QueryAllActiveInterested" />
  <xs:element name="QueryAllActiveInterestedResponse" type="tns:QueryAllActiveInterestedResponse" />
  <xs:element name="QueryAllByCourse" type="tns:QueryAllByCourse" />
  <xs:element name="QueryAllByCourseResponse" type="tns:QueryAllByCourseResponse" />
  <xs:element name="QueryAllInterested" type="tns:QueryAllInterested" />
  <xs:element name="QueryAllInterestedResponse" type="tns:QueryAllInterestedResponse" />
  <xs:element name="QueryAllInterns" type="tns:QueryAllInterns" />
  <xs:element name="QueryAllInternsResponse" type="tns:QueryAllInternsResponse" />
  <xs:element name="QueryAllUsers" type="tns:QueryAllUsers" />
  <xs:element name="QueryAllUsersResponse" type="tns:QueryAllUsersResponse" />
  <xs:element name="QueryInterestedByID" type="tns:QueryInterestedByID" />
  <xs:element name="QueryInterestedByIDResponse" type="tns:QueryInterestedByIDResponse" />
  <xs:element name="SearchInterestedByName" type="tns:SearchInterestedByName" />
  <xs:element name="SearchInterestedByNameResponse" type="tns:SearchInterestedByNameResponse" />
  <xs:element name="SearchInternByIdNumber" type="tns:SearchInternByIdNumber" />
  <xs:element name="SearchInternByIdNumberResponse" type="tns:SearchInternByIdNumberResponse" />
  <xs:element name="SearchInternByIdPUCP" type="tns:SearchInternByIdPUCP" />
  <xs:element name="SearchInternByIdPUCPResponse" type="tns:SearchInternByIdPUCPResponse" />
  <xs:element name="SearchInternByName" type="tns:SearchInternByName" />
  <xs:element name="SearchInternByNameResponse" type="tns:SearchInternByNameResponse" />
  <xs:element name="SearchProfessorById" type="tns:SearchProfessorById" />
  <xs:element name="SearchProfessorByIdPUCP" type="tns:SearchProfessorByIdPUCP" />
  <xs:element name="SearchProfessorByIdPUCPResponse" type="tns:SearchProfessorByIdPUCPResponse" />
  <xs:element name="SearchProfessorByIdResponse" type="tns:SearchProfessorByIdResponse" />
  <xs:element name="SearchProfessorByName" type="tns:SearchProfessorByName" />
  <xs:element name="SearchProfessorByNameResponse" type="tns:SearchProfessorByNameResponse" />
  <xs:element name="UpdateCourse" type="tns:UpdateCourse" />
  <xs:element name="UpdateCourseResponse" type="tns:UpdateCourseResponse" />
  <xs:element name="UpdateCourseType" type="tns:UpdateCourseType" />
  <xs:element name="UpdateCourseTypeResponse" type="tns:UpdateCourseTypeResponse" />
  <xs:element name="UpdateInterested" type="tns:UpdateInterested" />
  <xs:element name="UpdateInterestedResponse" type="tns:UpdateInterestedResponse" />
  <xs:element name="UpdateIntern" type="tns:UpdateIntern" />
  <xs:element name="UpdateInternResponse" type="tns:UpdateInternResponse" />
  <xs:element name="UpdateProfessor" type="tns:UpdateProfessor" />
  <xs:element name="UpdateProfessorResponse" type="tns:UpdateProfessorResponse" />
  <xs:element name="User" type="tns:user" />
  <xs:element name="UserType" type="tns:userType" />
  <xs:element name="VerifyUser" type="tns:VerifyUser" />
  <xs:element name="VerifyUserResponse" type="tns:VerifyUserResponse" />
  <xs:element name="Voucher" type="tns:voucher" />
  <xs:element name="generateCourseHistoryReport" type="tns:generateCourseHistoryReport" />
  <xs:element name="generateCourseHistoryReportResponse" type="tns:generateCourseHistoryReportResponse" />
  <xs:element name="queryAllCourse" type="tns:queryAllCourse" />
  <xs:element name="queryAllCourseResponse" type="tns:queryAllCourseResponse" />
  <xs:element name="queryAllCourseType" type="tns:queryAllCourseType" />
  <xs:element name="queryAllCourseTypeResponse" type="tns:queryAllCourseTypeResponse" />
  <xs:element name="queryAllCoursesByName" type="tns:queryAllCoursesByName" />
  <xs:element name="queryAllCoursesByNameResponse" type="tns:queryAllCoursesByNameResponse" />
  <xs:element name="queryCourseById" type="tns:queryCourseById" />
  <xs:element name="queryCourseByIdResponse" type="tns:queryCourseByIdResponse" />
  <xs:element name="queryCourseHByDate" type="tns:queryCourseHByDate" />
  <xs:element name="queryCourseHByDateResponse" type="tns:queryCourseHByDateResponse" />
  <xs:element name="queryCourseHistoryByCourse" type="tns:queryCourseHistoryByCourse" />
  <xs:element name="queryCourseHistoryByCourseResponse" type="tns:queryCourseHistoryByCourseResponse" />
  <xs:element name="queryCourseHistoryByIdProfessor" type="tns:queryCourseHistoryByIdProfessor" />
  <xs:element name="queryCourseHistoryByIdProfessorResponse" type="tns:queryCourseHistoryByIdProfessorResponse" />
  <xs:element name="queryCourseTypeById" type="tns:queryCourseTypeById" />
  <xs:element name="queryCourseTypeByIdResponse" type="tns:queryCourseTypeByIdResponse" />
  <xs:element name="querySessionsByDate" type="tns:querySessionsByDate" />
  <xs:element name="querySessionsByDateResponse" type="tns:querySessionsByDateResponse" />
  <xs:element name="queryStudentById" type="tns:queryStudentById" />
  <xs:element name="queryStudentByIdResponse" type="tns:queryStudentByIdResponse" />
  <xs:element name="saveCourseHistoryReport" type="tns:saveCourseHistoryReport" />
  <xs:element name="saveCourseHistoryReportResponse" type="tns:saveCourseHistoryReportResponse" />
  <xs:element name="updateStudent" type="tns:updateStudent" />
  <xs:element name="updateStudentResponse" type="tns:updateStudentResponse" />
  <xs:complexType name="InsertStudent">
    <xs:sequence>
      <xs:element minOccurs="0" name="student" type="tns:student" />
      <xs:element minOccurs="0" name="birthday" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="student">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:interested">
        <xs:sequence>
          <xs:element minOccurs="0" name="homePhone" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="idPUCPList" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="birthDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="address" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="history" nillable="true" type="tns:courseHistory" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="historyGrade" nillable="true" type="xs:float" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="historyState" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="vouchers" nillable="true" type="tns:voucher" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="interested">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:person">
        <xs:sequence>
          <xs:element name="id" type="xs:int" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="courses" nillable="true" type="tns:course" />
          <xs:element name="isUnsubscribed" type="xs:boolean" />
          <xs:element minOccurs="0" name="emailPUCP" type="xs:string" />
          <xs:element minOccurs="0" name="regDate" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="person">
    <xs:sequence>
      <xs:element minOccurs="0" name="idNumber" type="xs:string" />
      <xs:element name="idType" type="xs:int" />
      <xs:element minOccurs="0" name="firstName" type="xs:string" />
      <xs:element minOccurs="0" name="middleName" type="xs:string" />
      <xs:element minOccurs="0" name="primaryLastName" type="xs:string" />
      <xs:element minOccurs="0" name="secondLastName" type="xs:string" />
      <xs:element minOccurs="0" name="gender" type="xs:string" />
      <xs:element minOccurs="0" name="email" type="xs:string" />
      <xs:element minOccurs="0" name="cellPhoneNumber" type="xs:string" />
      <xs:element minOccurs="0" name="birthday" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="courseHistory">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="sessions" nillable="true" type="tns:session" />
      <xs:element minOccurs="0" name="course" type="tns:course" />
      <xs:element minOccurs="0" name="professor" type="tns:professor" />
      <xs:element minOccurs="0" name="assistant" type="tns:professor" />
      <xs:element name="hours" type="xs:int" />
      <xs:element minOccurs="0" name="survey" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="students" nillable="true" type="tns:student" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="amountPaids" nillable="true" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="historyGrade" nillable="true" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="historyState" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="courseName" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="session">
    <xs:sequence>
      <xs:element minOccurs="0" name="dateSession" type="xs:dateTime" />
      <xs:element name="hours" type="xs:int" />
      <xs:element name="id" type="xs:int" />
      <xs:element name="isActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="location" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="course">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:string" />
      <xs:element minOccurs="0" name="name" type="xs:string" />
      <xs:element name="isActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="courseType" type="tns:courseType" />
      <xs:element minOccurs="0" name="description" type="xs:string" />
      <xs:element minOccurs="0" name="syllabus" type="xs:base64Binary" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="courseHistory" nillable="true" type="tns:course" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="courseType">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="name" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="coursesList" nillable="true" type="tns:course" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="professor">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:person">
        <xs:sequence>
          <xs:element minOccurs="0" name="idPUCP" type="xs:string" />
          <xs:element minOccurs="0" name="emailPUCP" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="coursesCanTeach" nillable="true" type="tns:course" />
          <xs:element name="isActive" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="voucher">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="type" type="xs:string" />
      <xs:element name="amount" type="xs:double" />
      <xs:element minOccurs="0" name="date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="course" type="tns:courseHistory" />
      <xs:element minOccurs="0" name="student" type="tns:student" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InsertStudentResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UpdateIntern">
    <xs:sequence>
      <xs:element minOccurs="0" name="intern" type="tns:intern" />
      <xs:element minOccurs="0" name="access" type="tns:userType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="intern">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:employee">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="assistance" nillable="true" type="tns:internAssistance" />
          <xs:element minOccurs="0" name="weekAvailability" type="xs:string" />
          <xs:element minOccurs="0" name="weekSchedule" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="employee">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:person">
        <xs:sequence>
          <xs:element minOccurs="0" name="idPUCP" type="xs:string" />
          <xs:element minOccurs="0" name="emailPUCP" type="xs:string" />
          <xs:element minOccurs="0" name="address" type="xs:string" />
          <xs:element minOccurs="0" name="homePhone" type="xs:string" />
          <xs:element minOccurs="0" name="user" type="tns:user" />
          <xs:element minOccurs="0" name="role" type="tns:role" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="internAssistance">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="begin" type="tns:localDateTime" />
      <xs:element minOccurs="0" name="end" type="tns:localDateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="localDateTime" final="extension restriction">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="user">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="username" type="xs:string" />
      <xs:element minOccurs="0" name="password" type="xs:string" />
      <xs:element minOccurs="0" name="acces" type="tns:userType" />
      <xs:element name="isActive" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="userType">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="name" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="role">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
      <xs:element name="isActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="name" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UpdateInternResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UpdateCourseType">
    <xs:sequence>
      <xs:element minOccurs="0" name="courseType" type="tns:courseType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UpdateCourseTypeResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="QueryAllUsers">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="QueryAllUsersResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:user" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="QueryAllByCourse">
    <xs:sequence>
      <xs:element minOccurs="0" name="course" type="tns:course" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="QueryAllByCourseResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:interested" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SearchProfessorByName">
    <xs:sequence>
      <xs:element minOccurs="0" name="name" type="xs:string" />
      <xs:element minOccurs="0" name="middle_name" type="xs:string" />
      <xs:element minOccurs="0" name="first_last_name" type="xs:string" />
      <xs:element minOccurs="0" name="second_last_name" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SearchProfessorByNameResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:professor" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UpdateCourse">
    <xs:sequence>
      <xs:element minOccurs="0" name="course" type="tns:course" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UpdateCourseResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryCourseTypeById">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryCourseTypeByIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:courseType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryAllCourse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="queryAllCourseResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:course" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UpdateProfessor">
    <xs:sequence>
      <xs:element minOccurs="0" name="professor" type="tns:professor" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UpdateProfessorResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="generateCourseHistoryReport">
    <xs:sequence>
      <xs:element name="idCourseHistory" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="generateCourseHistoryReportResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InsertIntern">
    <xs:sequence>
      <xs:element minOccurs="0" name="intern" type="tns:intern" />
      <xs:element minOccurs="0" name="access" type="tns:userType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InsertInternResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryCourseHistoryByCourse">
    <xs:sequence>
      <xs:element minOccurs="0" name="idCourse" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryCourseHistoryByCourseResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:courseHistory" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InsertCourseType">
    <xs:sequence>
      <xs:element minOccurs="0" name="courseType" type="tns:courseType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InsertCourseTypeResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SearchProfessorById">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SearchProfessorByIdResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SearchProfessorByIdPUCP">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SearchProfessorByIdPUCPResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:professor" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UpdateInterested">
    <xs:sequence>
      <xs:element minOccurs="0" name="interested" type="tns:interested" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UpdateInterestedResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryCourseHByDate">
    <xs:sequence>
      <xs:element minOccurs="0" name="date" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryCourseHByDateResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:courseHistory" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updateStudent">
    <xs:sequence>
      <xs:element minOccurs="0" name="student" type="tns:student" />
      <xs:element minOccurs="0" name="birthday" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updateStudentResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DisableCourse">
    <xs:sequence>
      <xs:element minOccurs="0" name="course" type="tns:course" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DisableCourseResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryCourseHistoryByIdProfessor">
    <xs:sequence>
      <xs:element minOccurs="0" name="idProfessor" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryCourseHistoryByIdProfessorResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:courseHistory" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="QueryAllInterns">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="QueryAllInternsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:intern" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InsertProfessor">
    <xs:sequence>
      <xs:element minOccurs="0" name="professor" type="tns:professor" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InsertProfessorResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryCourseById">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryCourseByIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:course" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="saveCourseHistoryReport">
    <xs:sequence>
      <xs:element name="idCourseHistory" type="xs:int" />
      <xs:element minOccurs="0" name="route" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="saveCourseHistoryReportResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryAllCourseType">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="queryAllCourseTypeResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:courseType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="QueryAllInterested">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="QueryAllInterestedResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:interested" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InsertInterested">
    <xs:sequence>
      <xs:element minOccurs="0" name="interested" type="tns:interested" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InsertInterestedResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryStudentById">
    <xs:sequence>
      <xs:element minOccurs="0" name="idStudent" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryStudentByIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:student" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="VerifyUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="user" type="tns:user" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="VerifyUserResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:userType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SearchInternByIdNumber">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SearchInternByIdNumberResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:intern" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryAllCoursesByName">
    <xs:sequence>
      <xs:element minOccurs="0" name="name" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryAllCoursesByNameResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:course" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="QueryAllActiveInterested">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="QueryAllActiveInterestedResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:interested" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InsertCourse">
    <xs:sequence>
      <xs:element minOccurs="0" name="course" type="tns:course" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InsertCourseResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SearchInternByIdPUCP">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SearchInternByIdPUCPResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:intern" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="querySessionsByDate">
    <xs:sequence>
      <xs:element minOccurs="0" name="date" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="querySessionsByDateResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:calendarSession" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="calendarSession">
    <xs:sequence>
      <xs:element minOccurs="0" name="aula" type="xs:string" />
      <xs:element minOccurs="0" name="courseName" type="xs:string" />
      <xs:element minOccurs="0" name="fin" type="xs:dateTime" />
      <xs:element minOccurs="0" name="inicio" type="xs:dateTime" />
      <xs:element minOccurs="0" name="professor" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="QueryInterestedByID">
    <xs:sequence>
      <xs:element minOccurs="0" name="IDInterested" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="QueryInterestedByIDResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:interested" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SearchInterestedByName">
    <xs:sequence>
      <xs:element minOccurs="0" name="name" type="xs:string" />
      <xs:element minOccurs="0" name="middle_name" type="xs:string" />
      <xs:element minOccurs="0" name="first_last_name" type="xs:string" />
      <xs:element minOccurs="0" name="second_last_name" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SearchInterestedByNameResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:interested" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SearchInternByName">
    <xs:sequence>
      <xs:element minOccurs="0" name="firstName" type="xs:string" />
      <xs:element minOccurs="0" name="middleName" type="xs:string" />
      <xs:element minOccurs="0" name="primaryLastName" type="xs:string" />
      <xs:element minOccurs="0" name="secondLastName" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SearchInternByNameResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:intern" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>