C#/INFOSiS 2.0/INFOSiS_2.0/Connected Services/Server/Server.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://server.INFOSiS.pucp.edu.pe/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="Server" targetNamespace="http://server.INFOSiS.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/INFOSiSServer/Server?xsd=1" namespace="http://server.INFOSiS.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="QueryInterestedByID">
    <part name="parameters" element="tns:QueryInterestedByID" />
  </message>
  <message name="QueryInterestedByIDResponse">
    <part name="parameters" element="tns:QueryInterestedByIDResponse" />
  </message>
  <message name="QueryAllInterested">
    <part name="parameters" element="tns:QueryAllInterested" />
  </message>
  <message name="QueryAllInterestedResponse">
    <part name="parameters" element="tns:QueryAllInterestedResponse" />
  </message>
  <message name="InsertInterested">
    <part name="parameters" element="tns:InsertInterested" />
  </message>
  <message name="InsertInterestedResponse">
    <part name="parameters" element="tns:InsertInterestedResponse" />
  </message>
  <message name="InsertIntern">
    <part name="parameters" element="tns:InsertIntern" />
  </message>
  <message name="InsertInternResponse">
    <part name="parameters" element="tns:InsertInternResponse" />
  </message>
  <message name="VerifyUser">
    <part name="parameters" element="tns:VerifyUser" />
  </message>
  <message name="VerifyUserResponse">
    <part name="parameters" element="tns:VerifyUserResponse" />
  </message>
  <message name="QueryAllByCourse">
    <part name="parameters" element="tns:QueryAllByCourse" />
  </message>
  <message name="QueryAllByCourseResponse">
    <part name="parameters" element="tns:QueryAllByCourseResponse" />
  </message>
  <message name="InsertProfessor">
    <part name="parameters" element="tns:InsertProfessor" />
  </message>
  <message name="InsertProfessorResponse">
    <part name="parameters" element="tns:InsertProfessorResponse" />
  </message>
  <message name="QueryAllInterns">
    <part name="parameters" element="tns:QueryAllInterns" />
  </message>
  <message name="QueryAllInternsResponse">
    <part name="parameters" element="tns:QueryAllInternsResponse" />
  </message>
  <message name="QueryAllUsers">
    <part name="parameters" element="tns:QueryAllUsers" />
  </message>
  <message name="QueryAllUsersResponse">
    <part name="parameters" element="tns:QueryAllUsersResponse" />
  </message>
  <message name="UpdateIntern">
    <part name="parameters" element="tns:UpdateIntern" />
  </message>
  <message name="UpdateInternResponse">
    <part name="parameters" element="tns:UpdateInternResponse" />
  </message>
  <portType name="Server">
    <operation name="QueryInterestedByID">
      <input wsam:Action="http://server.INFOSiS.pucp.edu.pe/Server/QueryInterestedByIDRequest" message="tns:QueryInterestedByID" />
      <output wsam:Action="http://server.INFOSiS.pucp.edu.pe/Server/QueryInterestedByIDResponse" message="tns:QueryInterestedByIDResponse" />
    </operation>
    <operation name="QueryAllInterested">
      <input wsam:Action="http://server.INFOSiS.pucp.edu.pe/Server/QueryAllInterestedRequest" message="tns:QueryAllInterested" />
      <output wsam:Action="http://server.INFOSiS.pucp.edu.pe/Server/QueryAllInterestedResponse" message="tns:QueryAllInterestedResponse" />
    </operation>
    <operation name="InsertInterested">
      <input wsam:Action="http://server.INFOSiS.pucp.edu.pe/Server/InsertInterestedRequest" message="tns:InsertInterested" />
      <output wsam:Action="http://server.INFOSiS.pucp.edu.pe/Server/InsertInterestedResponse" message="tns:InsertInterestedResponse" />
    </operation>
    <operation name="InsertIntern">
      <input wsam:Action="http://server.INFOSiS.pucp.edu.pe/Server/InsertInternRequest" message="tns:InsertIntern" />
      <output wsam:Action="http://server.INFOSiS.pucp.edu.pe/Server/InsertInternResponse" message="tns:InsertInternResponse" />
    </operation>
    <operation name="VerifyUser">
      <input wsam:Action="http://server.INFOSiS.pucp.edu.pe/Server/VerifyUserRequest" message="tns:VerifyUser" />
      <output wsam:Action="http://server.INFOSiS.pucp.edu.pe/Server/VerifyUserResponse" message="tns:VerifyUserResponse" />
    </operation>
    <operation name="QueryAllByCourse">
      <input wsam:Action="http://server.INFOSiS.pucp.edu.pe/Server/QueryAllByCourseRequest" message="tns:QueryAllByCourse" />
      <output wsam:Action="http://server.INFOSiS.pucp.edu.pe/Server/QueryAllByCourseResponse" message="tns:QueryAllByCourseResponse" />
    </operation>
    <operation name="InsertProfessor">
      <input wsam:Action="http://server.INFOSiS.pucp.edu.pe/Server/InsertProfessorRequest" message="tns:InsertProfessor" />
      <output wsam:Action="http://server.INFOSiS.pucp.edu.pe/Server/InsertProfessorResponse" message="tns:InsertProfessorResponse" />
    </operation>
    <operation name="QueryAllInterns">
      <input wsam:Action="http://server.INFOSiS.pucp.edu.pe/Server/QueryAllInternsRequest" message="tns:QueryAllInterns" />
      <output wsam:Action="http://server.INFOSiS.pucp.edu.pe/Server/QueryAllInternsResponse" message="tns:QueryAllInternsResponse" />
    </operation>
    <operation name="QueryAllUsers">
      <input wsam:Action="http://server.INFOSiS.pucp.edu.pe/Server/QueryAllUsersRequest" message="tns:QueryAllUsers" />
      <output wsam:Action="http://server.INFOSiS.pucp.edu.pe/Server/QueryAllUsersResponse" message="tns:QueryAllUsersResponse" />
    </operation>
    <operation name="UpdateIntern">
      <input wsam:Action="http://server.INFOSiS.pucp.edu.pe/Server/UpdateInternRequest" message="tns:UpdateIntern" />
      <output wsam:Action="http://server.INFOSiS.pucp.edu.pe/Server/UpdateInternResponse" message="tns:UpdateInternResponse" />
    </operation>
  </portType>
  <binding name="ServerPortBinding" type="tns:Server">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="QueryInterestedByID">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="QueryAllInterested">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="InsertInterested">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="InsertIntern">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="VerifyUser">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="QueryAllByCourse">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="InsertProfessor">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="QueryAllInterns">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="QueryAllUsers">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="UpdateIntern">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="Server">
    <port name="ServerPort" binding="tns:ServerPortBinding">
      <soap:address location="http://localhost:8080/INFOSiSServer/Server" />
    </port>
  </service>
</definitions>