C#/INFOSiS 2.0/INFOSiS_2.0/Connected Services/Server/Server.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://server.INFOSiS.pucp.edu.pe/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="Server" targetNamespace="http://server.INFOSiS.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/INFOSiSServer/Server?xsd=1" namespace="http://server.INFOSiS.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="QueryAllActiveInterested">
    <part name="parameters" element="tns:QueryAllActiveInterested" />
  </message>
  <message name="QueryAllActiveInterestedResponse">
    <part name="parameters" element="tns:QueryAllActiveInterestedResponse" />
  </message>
  <message name="SearchInternByName">
    <part name="parameters" element="tns:SearchInternByName" />
  </message>
  <message name="SearchInternByNameResponse">
    <part name="parameters" element="tns:SearchInternByNameResponse" />
  </message>
  <message name="SearchProfessorById">
    <part name="parameters" element="tns:SearchProfessorById" />
  </message>
  <message name="SearchProfessorByIdResponse">
    <part name="parameters" element="tns:SearchProfessorByIdResponse" />
  </message>
  <message name="saveCourseHistoryReport">
    <part name="parameters" element="tns:saveCourseHistoryReport" />
  </message>
  <message name="saveCourseHistoryReportResponse">
    <part name="parameters" element="tns:saveCourseHistoryReportResponse" />
  </message>
  <message name="queryAllCourseType">
    <part name="parameters" element="tns:queryAllCourseType" />
  </message>
  <message name="queryAllCourseTypeResponse">
    <part name="parameters" element="tns:queryAllCourseTypeResponse" />
  </message>
  <message name="querySessionsByDate">
    <part name="parameters" element="tns:querySessionsByDate" />
  </message>
  <message name="querySessionsByDateResponse">
    <part name="parameters" element="tns:querySessionsByDateResponse" />
  </message>
  <message name="queryCourseHByDate">
    <part name="parameters" element="tns:queryCourseHByDate" />
  </message>
  <message name="queryCourseHByDateResponse">
    <part name="parameters" element="tns:queryCourseHByDateResponse" />
  </message>
  <message name="QueryAllInterested">
    <part name="parameters" element="tns:QueryAllInterested" />
  </message>
  <message name="QueryAllInterestedResponse">
    <part name="parameters" element="tns:QueryAllInterestedResponse" />
  </message>
  <message name="queryCourseHistoryByIdProfessor">
    <part name="parameters" element="tns:queryCourseHistoryByIdProfessor" />
  </message>
  <message name="queryCourseHistoryByIdProfessorResponse">
    <part name="parameters" element="tns:queryCourseHistoryByIdProfessorResponse" />
  </message>
  <message name="SearchInterestedByName">
    <part name="parameters" element="tns:SearchInterestedByName" />
  </message>
  <message name="SearchInterestedByNameResponse">
    <part name="parameters" element="tns:SearchInterestedByNameResponse" />
  </message>
  <message name="queryCourseTypeById">
    <part name="parameters" element="tns:queryCourseTypeById" />
  </message>
  <message name="queryCourseTypeByIdResponse">
    <part name="parameters" element="tns:queryCourseTypeByIdResponse" />
  </message>
  <message name="queryCourseHistoryByCourse">
    <part name="parameters" element="tns:queryCourseHistoryByCourse" />
  </message>
  <message name="queryCourseHistoryByCourseResponse">
    <part name="parameters" element="tns:queryCourseHistoryByCourseResponse" />
  </message>
  <message name="SearchInternByIdPUCP">
    <part name="parameters" element="tns:SearchInternByIdPUCP" />
  </message>
  <message name="SearchInternByIdPUCPResponse">
    <part name="parameters" element="tns:SearchInternByIdPUCPResponse" />
  </message>
  <message name="SearchProfessorByIdPUCP">
    <part name="parameters" element="tns:SearchProfessorByIdPUCP" />
  </message>
  <message name="SearchProfessorByIdPUCPResponse">
    <part name="parameters" element="tns:SearchProfessorByIdPUCPResponse" />
  </message>
  <message name="generateCourseHistoryReport">
    <part name="parameters" element="tns:generateCourseHistoryReport" />
  </message>
  <message name="generateCourseHistoryReportResponse">
    <part name="parameters" element="tns:generateCourseHistoryReportResponse" />
  </message>
  <message name="SearchInternByIdNumber">
    <part name="parameters" element="tns:SearchInternByIdNumber" />
  </message>
  <message name="SearchInternByIdNumberResponse">
    <part name="parameters" element="tns:SearchInternByIdNumberResponse" />
  </message>
  <message name="SearchProfessorByName">
    <part name="parameters" element="tns:SearchProfessorByName" />
  </message>
  <message name="SearchProfessorByNameResponse">
    <part name="parameters" element="tns:SearchProfessorByNameResponse" />
  </message>
  <message name="queryAllCoursesByName">
    <part name="parameters" element="tns:queryAllCoursesByName" />
  </message>
  <message name="queryAllCoursesByNameResponse">
    <part name="parameters" element="tns:queryAllCoursesByNameResponse" />
  </message>
  <message name="QueryInterestedByID">
    <part name="parameters" element="tns:QueryInterestedByID" />
  </message>
  <message name="QueryInterestedByIDResponse">
    <part name="parameters" element="tns:QueryInterestedByIDResponse" />
  </message>
  <message name="InsertProfessor">
    <part name="parameters" element="tns:InsertProfessor" />
  </message>
  <message name="InsertProfessorResponse">
    <part name="parameters" element="tns:InsertProfessorResponse" />
  </message>
  <message name="InsertCourse">
    <part name="parameters" element="tns:InsertCourse" />
  </message>
  <message name="InsertCourseResponse">
    <part name="parameters" element="tns:InsertCourseResponse" />
  </message>
  <message name="UpdateCourse">
    <part name="parameters" element="tns:UpdateCourse" />
  </message>
  <message name="UpdateCourseResponse">
    <part name="parameters" element="tns:UpdateCourseResponse" />
  </message>
  <message name="DisableCourse">
    <part name="parameters" element="tns:DisableCourse" />
  </message>
  <message name="DisableCourseResponse">
    <part name="parameters" element="tns:DisableCourseResponse" />
  </message>
  <message name="InsertIntern">
    <part name="parameters" element="tns:InsertIntern" />
  </message>
  <message name="InsertInternResponse">
    <part name="parameters" element="tns:InsertInternResponse" />
  </message>
  <message name="queryAllCourse">
    <part name="parameters" element="tns:queryAllCourse" />
  </message>
  <message name="queryAllCourseResponse">
    <part name="parameters" element="tns:queryAllCourseResponse" />
  </message>
  <message name="VerifyUser">
    <part name="parameters" element="tns:VerifyUser" />
  </message>
  <message name="VerifyUserResponse">
    <part name="parameters" element="tns:VerifyUserResponse" />
  </message>
  <message name="UpdateInterested">
    <part name="parameters" element="tns:UpdateInterested" />
  </message>
  <message name="UpdateInterestedResponse">
    <part name="parameters" element="tns:UpdateInterestedResponse" />
  </message>
  <message name="UpdateIntern">
    <part name="parameters" element="tns:UpdateIntern" />
  </message>
  <message name="UpdateInternResponse">
    <part name="parameters" element="tns:UpdateInternResponse" />
  </message>
  <message name="QueryAllInterns">
    <part name="parameters" element="tns:QueryAllInterns" />
  </message>
  <message name="QueryAllInternsResponse">
    <part name="parameters" element="tns:QueryAllInternsResponse" />
  </message>
  <message name="UpdateProfessor">
    <part name="parameters" element="tns:UpdateProfessor" />
  </message>
  <message name="UpdateProfessorResponse">
    <part name="parameters" element="tns:UpdateProfessorResponse" />
  </message>
  <message name="QueryAllUsers">
    <part name="parameters" element="tns:QueryAllUsers" />
  </message>
  <message name="QueryAllUsersResponse">
    <part name="parameters" element="tns:QueryAllUsersResponse" />
  </message>
  <message name="InsertInterested">
    <part name="parameters" element="tns:InsertInterested" />
  </message>
  <message name="InsertInterestedResponse">
    <part name="parameters" element="tns:InsertInterestedResponse" />
  </message>
  <message name="QueryAllByCourse">
    <part name="parameters" element="tns:QueryAllByCourse" />
  </message>
  <message name="QueryAllByCourseResponse">
    <part name="parameters" element="tns:QueryAllByCourseResponse" />
  </message>
  <message name="InsertStudent">
    <part name="parameters" element="tns:InsertStudent" />
  </message>
  <message name="InsertStudentResponse">
    <part name="parameters" element="tns:InsertStudentResponse" />
  </message>
  <message name="queryCourseById">
    <part name="parameters" element="tns:queryCourseById" />
  </message>
  <message name="queryCourseByIdResponse">
    <part name="parameters" element="tns:queryCourseByIdResponse" />
  </message>
  <message name="InsertCourseType">
    <part name="parameters" element="tns:InsertCourseType" />
  </message>
  <message name="InsertCourseTypeResponse">
    <part name="parameters" element="tns:InsertCourseTypeResponse" />
  </message>
  <message name="UpdateCourseType">
    <part name="parameters" element="tns:UpdateCourseType" />
  </message>
  <message name="UpdateCourseTypeResponse">
    <part name="parameters" element="tns:UpdateCourseTypeResponse" />
  </message>
  <message name="updateStudent">
    <part name="parameters" element="tns:updateStudent" />
  </message>
  <message name="updateStudentResponse">
    <part name="parameters" element="tns:updateStudentResponse" />
  </message>
  <message name="queryStudentById">
    <part name="parameters" element="tns:queryStudentById" />
  </message>
  <message name="queryStudentByIdResponse">
    <part name="parameters" element="tns:queryStudentByIdResponse" />
  </message>
  <portType name="Server">
    <operation name="QueryAllActiveInterested">
      <input wsam:Action="http://server.INFOSiS.pucp.edu.pe/Server/QueryAllActiveInterestedRequest" message="tns:QueryAllActiveInterested" />
      <output wsam:Action="http://server.INFOSiS.pucp.edu.pe/Server/QueryAllActiveInterestedResponse" message="tns:QueryAllActiveInterestedResponse" />
    </operation>
    <operation name="SearchInternByName">
      <input wsam:Action="http://server.INFOSiS.pucp.edu.pe/Server/SearchInternByNameRequest" message="tns:SearchInternByName" />
      <output wsam:Action="http://server.INFOSiS.pucp.edu.pe/Server/SearchInternByNameResponse" message="tns:SearchInternByNameResponse" />
    </operation>
    <operation name="SearchProfessorById">
      <input wsam:Action="http://server.INFOSiS.pucp.edu.pe/Server/SearchProfessorByIdRequest" message="tns:SearchProfessorById" />
      <output wsam:Action="http://server.INFOSiS.pucp.edu.pe/Server/SearchProfessorByIdResponse" message="tns:SearchProfessorByIdResponse" />
    </operation>
    <operation name="saveCourseHistoryReport">
      <input wsam:Action="http://server.INFOSiS.pucp.edu.pe/Server/saveCourseHistoryReportRequest" message="tns:saveCourseHistoryReport" />
      <output wsam:Action="http://server.INFOSiS.pucp.edu.pe/Server/saveCourseHistoryReportResponse" message="tns:saveCourseHistoryReportResponse" />
    </operation>
    <operation name="queryAllCourseType">
      <input wsam:Action="http://server.INFOSiS.pucp.edu.pe/Server/queryAllCourseTypeRequest" message="tns:queryAllCourseType" />
      <output wsam:Action="http://server.INFOSiS.pucp.edu.pe/Server/queryAllCourseTypeResponse" message="tns:queryAllCourseTypeResponse" />
    </operation>
    <operation name="querySessionsByDate">
      <input wsam:Action="http://server.INFOSiS.pucp.edu.pe/Server/querySessionsByDateRequest" message="tns:querySessionsByDate" />
      <output wsam:Action="http://server.INFOSiS.pucp.edu.pe/Server/querySessionsByDateResponse" message="tns:querySessionsByDateResponse" />
    </operation>
    <operation name="queryCourseHByDate">
      <input wsam:Action="http://server.INFOSiS.pucp.edu.pe/Server/queryCourseHByDateRequest" message="tns:queryCourseHByDate" />
      <output wsam:Action="http://server.INFOSiS.pucp.edu.pe/Server/queryCourseHByDateResponse" message="tns:queryCourseHByDateResponse" />
    </operation>
    <operation name="QueryAllInterested">
      <input wsam:Action="http://server.INFOSiS.pucp.edu.pe/Server/QueryAllInterestedRequest" message="tns:QueryAllInterested" />
      <output wsam:Action="http://server.INFOSiS.pucp.edu.pe/Server/QueryAllInterestedResponse" message="tns:QueryAllInterestedResponse" />
    </operation>
    <operation name="queryCourseHistoryByIdProfessor">
      <input wsam:Action="http://server.INFOSiS.pucp.edu.pe/Server/queryCourseHistoryByIdProfessorRequest" message="tns:queryCourseHistoryByIdProfessor" />
      <output wsam:Action="http://server.INFOSiS.pucp.edu.pe/Server/queryCourseHistoryByIdProfessorResponse" message="tns:queryCourseHistoryByIdProfessorResponse" />
    </operation>
    <operation name="SearchInterestedByName">
      <input wsam:Action="http://server.INFOSiS.pucp.edu.pe/Server/SearchInterestedByNameRequest" message="tns:SearchInterestedByName" />
      <output wsam:Action="http://server.INFOSiS.pucp.edu.pe/Server/SearchInterestedByNameResponse" message="tns:SearchInterestedByNameResponse" />
    </operation>
    <operation name="queryCourseTypeById">
      <input wsam:Action="http://server.INFOSiS.pucp.edu.pe/Server/queryCourseTypeByIdRequest" message="tns:queryCourseTypeById" />
      <output wsam:Action="http://server.INFOSiS.pucp.edu.pe/Server/queryCourseTypeByIdResponse" message="tns:queryCourseTypeByIdResponse" />
    </operation>
    <operation name="queryCourseHistoryByCourse">
      <input wsam:Action="http://server.INFOSiS.pucp.edu.pe/Server/queryCourseHistoryByCourseRequest" message="tns:queryCourseHistoryByCourse" />
      <output wsam:Action="http://server.INFOSiS.pucp.edu.pe/Server/queryCourseHistoryByCourseResponse" message="tns:queryCourseHistoryByCourseResponse" />
    </operation>
    <operation name="SearchInternByIdPUCP">
      <input wsam:Action="http://server.INFOSiS.pucp.edu.pe/Server/SearchInternByIdPUCPRequest" message="tns:SearchInternByIdPUCP" />
      <output wsam:Action="http://server.INFOSiS.pucp.edu.pe/Server/SearchInternByIdPUCPResponse" message="tns:SearchInternByIdPUCPResponse" />
    </operation>
    <operation name="SearchProfessorByIdPUCP">
      <input wsam:Action="http://server.INFOSiS.pucp.edu.pe/Server/SearchProfessorByIdPUCPRequest" message="tns:SearchProfessorByIdPUCP" />
      <output wsam:Action="http://server.INFOSiS.pucp.edu.pe/Server/SearchProfessorByIdPUCPResponse" message="tns:SearchProfessorByIdPUCPResponse" />
    </operation>
    <operation name="generateCourseHistoryReport">
      <input wsam:Action="http://server.INFOSiS.pucp.edu.pe/Server/generateCourseHistoryReportRequest" message="tns:generateCourseHistoryReport" />
      <output wsam:Action="http://server.INFOSiS.pucp.edu.pe/Server/generateCourseHistoryReportResponse" message="tns:generateCourseHistoryReportResponse" />
    </operation>
    <operation name="SearchInternByIdNumber">
      <input wsam:Action="http://server.INFOSiS.pucp.edu.pe/Server/SearchInternByIdNumberRequest" message="tns:SearchInternByIdNumber" />
      <output wsam:Action="http://server.INFOSiS.pucp.edu.pe/Server/SearchInternByIdNumberResponse" message="tns:SearchInternByIdNumberResponse" />
    </operation>
    <operation name="SearchProfessorByName">
      <input wsam:Action="http://server.INFOSiS.pucp.edu.pe/Server/SearchProfessorByNameRequest" message="tns:SearchProfessorByName" />
      <output wsam:Action="http://server.INFOSiS.pucp.edu.pe/Server/SearchProfessorByNameResponse" message="tns:SearchProfessorByNameResponse" />
    </operation>
    <operation name="queryAllCoursesByName">
      <input wsam:Action="http://server.INFOSiS.pucp.edu.pe/Server/queryAllCoursesByNameRequest" message="tns:queryAllCoursesByName" />
      <output wsam:Action="http://server.INFOSiS.pucp.edu.pe/Server/queryAllCoursesByNameResponse" message="tns:queryAllCoursesByNameResponse" />
    </operation>
    <operation name="QueryInterestedByID">
      <input wsam:Action="http://server.INFOSiS.pucp.edu.pe/Server/QueryInterestedByIDRequest" message="tns:QueryInterestedByID" />
      <output wsam:Action="http://server.INFOSiS.pucp.edu.pe/Server/QueryInterestedByIDResponse" message="tns:QueryInterestedByIDResponse" />
    </operation>
    <operation name="InsertProfessor">
      <input wsam:Action="http://server.INFOSiS.pucp.edu.pe/Server/InsertProfessorRequest" message="tns:InsertProfessor" />
      <output wsam:Action="http://server.INFOSiS.pucp.edu.pe/Server/InsertProfessorResponse" message="tns:InsertProfessorResponse" />
    </operation>
    <operation name="InsertCourse">
      <input wsam:Action="http://server.INFOSiS.pucp.edu.pe/Server/InsertCourseRequest" message="tns:InsertCourse" />
      <output wsam:Action="http://server.INFOSiS.pucp.edu.pe/Server/InsertCourseResponse" message="tns:InsertCourseResponse" />
    </operation>
    <operation name="UpdateCourse">
      <input wsam:Action="http://server.INFOSiS.pucp.edu.pe/Server/UpdateCourseRequest" message="tns:UpdateCourse" />
      <output wsam:Action="http://server.INFOSiS.pucp.edu.pe/Server/UpdateCourseResponse" message="tns:UpdateCourseResponse" />
    </operation>
    <operation name="DisableCourse">
      <input wsam:Action="http://server.INFOSiS.pucp.edu.pe/Server/DisableCourseRequest" message="tns:DisableCourse" />
      <output wsam:Action="http://server.INFOSiS.pucp.edu.pe/Server/DisableCourseResponse" message="tns:DisableCourseResponse" />
    </operation>
    <operation name="InsertIntern">
      <input wsam:Action="http://server.INFOSiS.pucp.edu.pe/Server/InsertInternRequest" message="tns:InsertIntern" />
      <output wsam:Action="http://server.INFOSiS.pucp.edu.pe/Server/InsertInternResponse" message="tns:InsertInternResponse" />
    </operation>
    <operation name="queryAllCourse">
      <input wsam:Action="http://server.INFOSiS.pucp.edu.pe/Server/queryAllCourseRequest" message="tns:queryAllCourse" />
      <output wsam:Action="http://server.INFOSiS.pucp.edu.pe/Server/queryAllCourseResponse" message="tns:queryAllCourseResponse" />
    </operation>
    <operation name="VerifyUser">
      <input wsam:Action="http://server.INFOSiS.pucp.edu.pe/Server/VerifyUserRequest" message="tns:VerifyUser" />
      <output wsam:Action="http://server.INFOSiS.pucp.edu.pe/Server/VerifyUserResponse" message="tns:VerifyUserResponse" />
    </operation>
    <operation name="UpdateInterested">
      <input wsam:Action="http://server.INFOSiS.pucp.edu.pe/Server/UpdateInterestedRequest" message="tns:UpdateInterested" />
      <output wsam:Action="http://server.INFOSiS.pucp.edu.pe/Server/UpdateInterestedResponse" message="tns:UpdateInterestedResponse" />
    </operation>
    <operation name="UpdateIntern">
      <input wsam:Action="http://server.INFOSiS.pucp.edu.pe/Server/UpdateInternRequest" message="tns:UpdateIntern" />
      <output wsam:Action="http://server.INFOSiS.pucp.edu.pe/Server/UpdateInternResponse" message="tns:UpdateInternResponse" />
    </operation>
    <operation name="QueryAllInterns">
      <input wsam:Action="http://server.INFOSiS.pucp.edu.pe/Server/QueryAllInternsRequest" message="tns:QueryAllInterns" />
      <output wsam:Action="http://server.INFOSiS.pucp.edu.pe/Server/QueryAllInternsResponse" message="tns:QueryAllInternsResponse" />
    </operation>
    <operation name="UpdateProfessor">
      <input wsam:Action="http://server.INFOSiS.pucp.edu.pe/Server/UpdateProfessorRequest" message="tns:UpdateProfessor" />
      <output wsam:Action="http://server.INFOSiS.pucp.edu.pe/Server/UpdateProfessorResponse" message="tns:UpdateProfessorResponse" />
    </operation>
    <operation name="QueryAllUsers">
      <input wsam:Action="http://server.INFOSiS.pucp.edu.pe/Server/QueryAllUsersRequest" message="tns:QueryAllUsers" />
      <output wsam:Action="http://server.INFOSiS.pucp.edu.pe/Server/QueryAllUsersResponse" message="tns:QueryAllUsersResponse" />
    </operation>
    <operation name="InsertInterested">
      <input wsam:Action="http://server.INFOSiS.pucp.edu.pe/Server/InsertInterestedRequest" message="tns:InsertInterested" />
      <output wsam:Action="http://server.INFOSiS.pucp.edu.pe/Server/InsertInterestedResponse" message="tns:InsertInterestedResponse" />
    </operation>
    <operation name="QueryAllByCourse">
      <input wsam:Action="http://server.INFOSiS.pucp.edu.pe/Server/QueryAllByCourseRequest" message="tns:QueryAllByCourse" />
      <output wsam:Action="http://server.INFOSiS.pucp.edu.pe/Server/QueryAllByCourseResponse" message="tns:QueryAllByCourseResponse" />
    </operation>
    <operation name="InsertStudent">
      <input wsam:Action="http://server.INFOSiS.pucp.edu.pe/Server/InsertStudentRequest" message="tns:InsertStudent" />
      <output wsam:Action="http://server.INFOSiS.pucp.edu.pe/Server/InsertStudentResponse" message="tns:InsertStudentResponse" />
    </operation>
    <operation name="queryCourseById">
      <input wsam:Action="http://server.INFOSiS.pucp.edu.pe/Server/queryCourseByIdRequest" message="tns:queryCourseById" />
      <output wsam:Action="http://server.INFOSiS.pucp.edu.pe/Server/queryCourseByIdResponse" message="tns:queryCourseByIdResponse" />
    </operation>
    <operation name="InsertCourseType">
      <input wsam:Action="http://server.INFOSiS.pucp.edu.pe/Server/InsertCourseTypeRequest" message="tns:InsertCourseType" />
      <output wsam:Action="http://server.INFOSiS.pucp.edu.pe/Server/InsertCourseTypeResponse" message="tns:InsertCourseTypeResponse" />
    </operation>
    <operation name="UpdateCourseType">
      <input wsam:Action="http://server.INFOSiS.pucp.edu.pe/Server/UpdateCourseTypeRequest" message="tns:UpdateCourseType" />
      <output wsam:Action="http://server.INFOSiS.pucp.edu.pe/Server/UpdateCourseTypeResponse" message="tns:UpdateCourseTypeResponse" />
    </operation>
    <operation name="updateStudent">
      <input wsam:Action="http://server.INFOSiS.pucp.edu.pe/Server/updateStudentRequest" message="tns:updateStudent" />
      <output wsam:Action="http://server.INFOSiS.pucp.edu.pe/Server/updateStudentResponse" message="tns:updateStudentResponse" />
    </operation>
    <operation name="queryStudentById">
      <input wsam:Action="http://server.INFOSiS.pucp.edu.pe/Server/queryStudentByIdRequest" message="tns:queryStudentById" />
      <output wsam:Action="http://server.INFOSiS.pucp.edu.pe/Server/queryStudentByIdResponse" message="tns:queryStudentByIdResponse" />
    </operation>
  </portType>
  <binding name="ServerPortBinding" type="tns:Server">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="QueryAllActiveInterested">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="SearchInternByName">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="SearchProfessorById">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="saveCourseHistoryReport">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="queryAllCourseType">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="querySessionsByDate">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="queryCourseHByDate">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="QueryAllInterested">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="queryCourseHistoryByIdProfessor">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="SearchInterestedByName">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="queryCourseTypeById">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="queryCourseHistoryByCourse">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="SearchInternByIdPUCP">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="SearchProfessorByIdPUCP">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="generateCourseHistoryReport">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="SearchInternByIdNumber">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="SearchProfessorByName">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="queryAllCoursesByName">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="QueryInterestedByID">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="InsertProfessor">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="InsertCourse">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="UpdateCourse">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="DisableCourse">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="InsertIntern">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="queryAllCourse">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="VerifyUser">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="UpdateInterested">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="UpdateIntern">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="QueryAllInterns">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="UpdateProfessor">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="QueryAllUsers">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="InsertInterested">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="QueryAllByCourse">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="InsertStudent">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="queryCourseById">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="InsertCourseType">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="UpdateCourseType">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="updateStudent">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="queryStudentById">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="Server">
    <port name="ServerPort" binding="tns:ServerPortBinding">
      <soap:address location="http://localhost:8080/INFOSiSServer/Server" />
    </port>
  </service>
</definitions>